@import "~@fontsource/noto-serif-nyiakeng-puachue-hmong/index.css";

.App {
  text-align: center;
  font-family: "Noto Serif Nyiakeng Puachue Hmong", serif;
  font-size: 20pt;
}

.menu-container {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14pt;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}